.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: blue;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 14px;
    display: block;
}

/* :hover (passar o mouse) */
.menu a:hover, .menu a:focus {
    background-color: white;
    color: blue;
}
